<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="mt2FormGroup">
        <form [formGroup]="mt2FormGroup" (ngSubmit)="clickMt()">
            <ng-template matStepLabel>Metros cuadrado</ng-template>
            <mat-form-field>
                <input matInput type="number" placeholder="Metros cuadrado" formControlName="mt2" required>
            </mat-form-field>
            <p class="text-danger" *ngIf="mt2FormGroup['controls']['mt2'].errors?.min">Minimo un 1 metro cuadrado!</p>
            <p class="text-danger" *ngIf="mt2NoValido">Campo obligatorio</p>

            <div class="text-right">
                <button type="submit" matStepperNext class="btn btn-primary">Siguente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="tipoInmuebleFormGroup">
        <form [formGroup]="tipoInmuebleFormGroup" (ngSubmit)="clickTipoInmueble()">
            <ng-template matStepLabel>Tipo Inmueble</ng-template>
            <mat-form-field>
                <mat-label>Inmueble</mat-label>
                <mat-select formControlName="tipoInmueble">
                    <mat-option *ngFor="let plan of tipoPlanes" [value]="plan.id">{{ plan.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="text-danger" *ngIf="tipoInmuebleValido">Campo obligatorio</p>
            <div class="text-right">
                <button matStepperPrevious class="btn btn-secondary m-1">Volver</button>
                <button type="submit" matStepperNext class="btn btn-primary">Siguente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="tipoPlanFormGroup">
        <form [formGroup]="tipoPlanFormGroup" (ngSubmit)="clickTipoPlan()">
            <ng-template matStepLabel>Tipo Plan</ng-template>
            <mat-form-field>
                <mat-label>Plan</mat-label>
                <mat-select formControlName="tipoPlan">
                    <mat-option *ngFor="let inmueble of tipoInmuebles" [value]="inmueble.id">{{ inmueble.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="text-danger" *ngIf="tipoPlanValido">Campo obligatorio</p>
            <div class="text-right">
                <button matStepperPrevious class="btn btn-secondary m-1">Volver</button>
                <button type="submit" matStepperNext class="btn btn-primary">Siguente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="contactoFormGroup">
        <form [formGroup]="contactoFormGroup" (ngSubmit)="clickContacto()">
            <ng-template matStepLabel>Contacto</ng-template>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <p class="text-danger" *ngIf="nombreValido">Campo obligatorio</p>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <p class="text-danger" *ngIf="emailValido">Campo obligatorio</p>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono" required type="tel">
                    <p class="text-danger" *ngIf="telefonoValido">Campo obligatorio</p>
                </mat-form-field>
                <input type="checkbox" value="1" formControlName="termino" required>aceptar los terminos y condiciones
            </div>
            <div class="text-right">
                <button matStepperPrevious class="btn btn-secondary m-1">Volver</button>
                <button type="submit" matStepperNext class="btn btn-primary">Siguente</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Enviar</ng-template>
        <p>Metros cuadrados {{presupuesto.mt2 }}</p>
        <p>Tipo inmueble {{ presupuesto.tipoInmueble }}</p>
        <p>tipo plan {{presupuesto.tipoPlan}}</p>
        <p>Contacto</p>
        <ul>
            <li>Nombre {{ presupuesto.contacto.nombre }}</li>
            <li>Email {{ presupuesto.contacto.email }}</li>
            <li>Teléfono {{ presupuesto.contacto.telefono }}</li>
            <li> termino {{ presupuesto.contacto.termino }}</li>
        </ul>
        <div class="text-right">
            <button matStepperPrevious class="btn btn-secondary m-1">Volver</button>
            <button (click)="clickEnviar()" class="btn btn-primary">Enviar</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>